[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
Flask = "*"
pytest = "*"
flake8 = "*"
sqlalchemy = "*"
"psycopg2-binary" = "*"
flask-debugtoolbar = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
flask-mail = "*"
flask-cors = "*"
sphinx = "*"
python-coveralls = "*"
pytest-cov = "*"
flask-restplus = "*"
flask-bcrypt = "*"
flask-migrate = "*"
pyjwt = "*"
flask-script = "*"
flask-testing = "*"
logging = "*"

[dev-packages]

[requires]
python_version = "3.7"
